alembic==1.10.4
blinker==1.6.2
coverage==5.5
email-validator==1.1.2
Flask==2.2.5
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.11.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-Session
Flask-SQLAlchemy==3.0.3
Flask-Testing==0.8.1
Flask-WTF==0.14.3
Mako==1.2.4
SQLAlchemy==2.0.12
webencodings==0.5.1
