<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: blue;  
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: red;
}
</style>   
</head>    
<body>    
	{% extends "parent.html" %}
    {% block content %}
    <center> <h1> Your Memory Retention is 100% Fantastic!!</h1> 
	<center> <h2> Keep checking back for New updates! <</h2> </center>
	{% endblock %}
</body>     
</html>